.parent{
  display: flex;
  flex-direction: row;
}
.childone{
  border: 3px solid #1D98FF;
  padding: 3%;
  margin: 2%;
  width: 30%;
  border-radius:;
  text-align: center;
  font-size: 24px;
  font-family: cursive;
  background-color:;
}
img{
  width: 200px;
  border: 5px solid #FF1D84;
  border-radius:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.childtwo{
  border: 3px solid #1D98FF;
  padding: 3%;
  margin: 2%;
  width: 70%;
  border-radius:;
  background-color:;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

@media only screen and (min-width:320px) and (max-width: 480px){
  .parent{
    display: flex;
    flex-direction: column;
    border: 3px solid;
  }
  a,h2,h3,h4,p{
    word-wrap: break-word;
  }
  .childone{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    width: 90%;
    border-radius:;
    text-align: center;
    font-size: 24px;
    background-color:;
    text-align: center;
  }
  img{
    width:200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .childtwo{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    background-color:;
    width: 90%;
    border-radius:;
  }
  table { 
  width: 100%; /* Relative Value  */
  word-wrap: break-word;
      }
  td{
    padding:2%
  }
  h4{
      word-wrap: break-word;
  }
  p,li{
    font-size: 22px;
    /*color:maroon;*/
  }

}
th,td{
  border: 1px solid #dddd
}
.tt{
  text-overflow: wrap;
}
@media only screen and (min-width:481px) and (max-width:768px ){
  .parent{
    display: flex;
    flex-direction: row;
    border: 3px solid;
  }
  a,h3,h2,h4,p{
    word-wrap: break-word;
  }
  .childone{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    width: 90%;
    border-radius: 10%;
    /*text-align: left;*/
    font-family: cursive;
    font-style: italic;
    font-size: 24px;
    background-color: #FFF580;
    text-align: center;
  }
  img{
    width:200px;
    border: 5px solid #FF1D84;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 7px 15px #000;
  }
  .childtwo{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    background-color: #FFF580;
    width: 90%;
    border-radius:%;
    font-style: italic;
    font-family: sans-serif;
  }
 table { 
  width: 100%; /* Relative Value  */
      }
  td{
    padding:2%
  }
  p,li{
    font-size: 22px;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px ){
  .parent{
    display: flex;
    flex-direction: row;
    border: 3px solid #FF241D;
  }
  a,h3,h4,h2,p{
    word-wrap: break-word;
  }
  .childone{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    width: 90%;
    border-radius: 10%;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: 24px;
    background-color: #FF8E1D;
  }
  img{
    width:200px;
    border: 5px solid #FF1D84;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .childtwo{
    border: 3px solid #1D98FF;
    padding: 3%;
    margin: 2%;
    background-color: #FF8E1D;
    width: 90%;
    border-radius: 10%;
    font-style: italic;
    font-family: sans-serif;
  }
  table { 
  width: 100%; /* Relative Value  */
      }
  td{
    padding:2%
  }
  p,li{
    font-size: 22px;
  }
}